body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container .container-header {
    padding : 0 100px 0 100px;
    background-color: #000;
}
.header {
    background-color: #000;
    overflow: auto;
    color: #fff;
}
.header .logo{
    float: left;
}

.nav ul {
    list-style-type: none;
    float: right;
}
.nav ul li {
    padding: 10px;
    float: left;
}
.clear-fix {
    clear: both;
}
.container-main {
    padding : 0 100px 0 100px;
}
.banner {
    background: url("../image/bgr.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 640px;
}
.container-footer {
    text-align: center;
}