body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.cpd-main {
    padding: 5% 10% 5% 10%;
}

.cpd1 {
    padding: 0 10% 0 10%;
}

p,
div.text {
    font-weight: lighter;
    font-size: small;
}

p.txt {
    text-align: justify;
}

 p.txt-align-center {
    text-align: center;
}

.container .container-header {
    background-color: #000;
}

.header {
    background-color: #000;
    overflow: auto;
    color: #fff;
}

.header img {
    display: inline-block;
}

.header ul {
    list-style-type: none;
    float: right;
    padding: 16px 0 16px 16px;
    margin: 4% 0 4% 4%;
    -webkit-padding-start: 0
}

.header ul li {
    padding: 0 10px;
    float: left;
}

.header ul li:last-child {
    padding-right: 0;
    float: left;
}

.clear-fix {
    clear: both;
}

.banner {
    background: url("../image/bgr.jpg");
    background-size: cover;
    color: #fff;
    overflow: hidden;
}

.banner .banner-heading {
    float: left;
    margin: 2% 7% 2% 0;
    width: 50%;
}

.banner .banner-heading img {
    width: 35%;
}

.banner .banner-heading .title h1 {
    text-transform: uppercase;
    font-size: x-large;
    font-weight: lighter;
}

hr {
    width: 60px;
    margin: 0;
    margin-bottom: 20px;
}

hr.hr-white {
    border: 2px solid #ffffff;
}

hr.hr-orange {
    border: 2px solid #ffa500;
}

.download {
    border: 1px solid white;
    width: 100px;
    text-align: center;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
}

.download a {
    text-decoration: none;
    color: white;
}

.download.orange {
    background-color: #FF8B38;
    width: 100px;
}

.container-content .registration {
    float: right;
    width: 30%;
    border-radius: 1%;
    margin: 2% 0 2% 7%;
    background-color: white;
    overflow: hidden;
}

.container-content .registration h3 {
    color: #000;
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: #f6f6ed;
}

.container-content .registration h3 span {
    color: #FF8B38;
    text-transform: uppercase;
}

.container-content .registration input.fields {
    margin: 15px;
    width: 80%;
    border: none;
    padding: 10px;
}

.container-content .registration input.fields:focus {
    outline-width: 0;
}


.container-content .registration input[type="text"],
.container-content .registration input[type="email"],
.container-content .registration input[type="password"] {
    border-bottom: 1px solid silver;
}

.container-content .registration input:nth-last-child(2) {
    margin-bottom: 15%;
}

.container-content .registration input[type="submit"] {
    border-style: none;
    background-color: #FF8B38;
    color: #000;
    padding: 5%;
    text-align: center;
    width: 100%;
}

.container-content .social-sharing {
    border: 1px solid silver;
    overflow: hidden;
}

.container-content .social-sharing .social-sharing-text {
    float: left;
    width: 30%;
}

.container-content .social-sharing .social-sharing-img {
    float: right;
    width: 70%;
}

.container-content .social-sharing .social-sharing-img img {
    width: 100%;
}

.products-list {
    background-color: #F5F5F5;
}

.products-list .tabs {
    float: left;
    width: 10%;
    text-transform: uppercase;
}

.products-list .tabs a,
.header a {
    text-decoration: none;
    color: white;
}

.products-list .tab-content {
    float: left;
    width: 50%;
    padding: 0 5%;
    text-align: justify;
}

.products-list .tab-image {
    float: left;
    width: 20%;
}

.products-list ul,
.pricing-options .bottom-section .pricing-plan ul {
    -webkit-padding-start: 0;
    list-style: none;
}

.products-list ul li div {
    border-bottom: 1px solid;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

.products-list ul li:first-child div {
    background-color: #FF8B38;
    border-bottom: 1px solid;
}

.product-article2 {
    background-color: #F5F5F5;
}

.prd-left {
    float: left;
    margin-right: 5%;
    width: 40%;
}

.prd-right {
    margin-left: 10%;
    float: left;
    width: 40%;
}

.cloud-img {
    float: left;
    margin: 5% 0 5% 0;
    width: 15%;
}

.product-info {
    float: left;
    margin: 5% 0 5% 0;
    width: 75%;
}

.product-info h5 {
    margin-top: 0;
}

.more-info .top-section,
.pricing-options .top-section,
.testimonials .top-section,
.resources .top-section,
.contact-us .top-section {
    text-align: center;
    width: 100%;
    padding-bottom: 2%;
}

.more-info .top-section hr.hr-orange,
.pricing-options .top-section hr.hr-orange,
.testimonials .top-section hr.hr-orange,
.resources .top-section hr.hr-orange,
.contact-us .top-section hr.hr-orange {
    margin: auto auto 15px;
}

.more-info .top-section h3,
.pricing-options .top-section h3,
.testimonials .top-section h3,
.resources .top-section h3,
.contact-us .top-section h3 {
    text-transform: uppercase;
}

.more-info .bottom-section,
.pricing-options .bottom-section,
.contact-us form,
.product {
    overflow: hidden;
}

.more-info .bottom-section .info-card {
    float: left;
    padding: 10px;
    width: 31%;
    text-align: center;
}

.pricing-options {
    background-color: #F5F5F5;
}

.pricing-options .bottom-section .pricing-plan {
    float: left;
    padding: 15px;
    width: 30%;
    text-align: center;
}

.pricing-options .bottom-section .pricing-plan ul li div.plan-info,
.pricing-options .bottom-section .pricing-plan ul li div.plan-type {
    border-bottom: 1px solid silver;
}

.pricing-options .bottom-section .pricing-plan ul li div.plan-info {
    text-transform: uppercase;
    font-size: small;
    padding: 2%;
}

.pricing-options .bottom-section .pricing-plan ul li div.plan-info {
    background-color: white;
    padding: 3%;
}

.pricing-options .bottom-section .pricing-plan ul li .plan-type {
    background: black;
    color: white;
    padding: 5%;
}

.pricing-options .bottom-section .pricing-plan ul li .plan-cost {
    background: black;
    color: white;
    padding: 5%;
}

.pricing-options .bottom-section .pricing-plan ul li .popular-no {
    background-color: #FF8B38;
    height: 0.2em;
}

.pricing-options .bottom-section .pricing-plan ul li .popular {
    background-color: #FF8B38;
    color: white;
    text-transform: uppercase;
    font-size: small;
    padding: 2%;
    font-weight: bold;
}

.pricing-options .bottom-section .pricing-plan ul li .plan-cost .price span.cost {
    font-size: xx-large;
}

.pricing-options .bottom-section .pricing-plan ul li .plan-cost .duration {
    font-style: italic;
    font-size: x-small;
}

.testimonials .bottom-section .testimonial {
    float: left;
    padding: 10px;
    width: 30%;
    text-align: left;
}

.testimonials .bottom-section .testimonial .comment {
    background-color: #F5F5F5;
    font-weight: lighter;
    font-size: small;
    font-style: italic;
    padding: 5%;
}

.testimonials .bottom-section .testimonial .tip {
    border: 15px solid #F5F5F5;
    position: relative;
    background: transparent;
    width: 0;
    height: 0;
}

.testimonials .bottom-section .testimonial .tip-down {
    bottom: -14px;
    left: 30px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.testimonials .bottom-section .testimonial .profile {
    overflow: hidden;
    padding: 5%;
}

.testimonials .bottom-section .testimonial .profile .pic {
    float: left;
    width: 30%;
}

.testimonials .bottom-section .testimonial .profile .text {
    float: left;
    width: 70%;
    padding-top: 5%;
}

.testimonials .bottom-section .testimonial .profile .text .name {
    font-weight: bold;
    font-size: large;
}

.testimonials .bottom-section .testimonial .profile .text .name::after {
    content: ".";
}

.testimonials .bottom-section .testimonial .profile .text .job {
    font-weight: lighter;
    font-size: small;
}

.resources {
    background: url("../image/ebag.png") center fixed;
    color: white;
    padding: 5%;
}

.resources .top-section {
    font-weight: lighter;
}

.resources .hr-white,
.resources .download {
    margin: auto;
}

.resources .text {
    text-align: center;
}

.resources .hr-white {
    margin-bottom: 15px;
}

.container-content .contact-us {
    padding: 5%;
}

.container-content .contact-us .fields {
    margin: 15px;
    width: 80%;
    border: none;
    padding: 10px;
}

.container-content .contact-us input[type="text"],
.container-content .contact-us input[type="email"],
.container-content .contact-us input[type="password"],
.container-content .contact-us textarea.fields {
    border-bottom: 1px solid silver;
}

.container-content .contact-us input[type="submit"] {
    border-style: none;
    background-color: #FF8B38;
    color: white;
    padding: 1% 2%;
}

.container-content .contact-us .reg-button {
    padding: 10px;
    text-align: center;
    margin-top: 15px;
}

.contact-us .form1 {
    float: left;
    width: 50%;
}

.contact-us .form2 {
    float: left;
    width: 50%;
}

.container-footer {
    background-color: black;
    text-align: center;
    color: white;
}

.container-footer img {
    width: 30%;
}